<div id="suporte" class="footer">
    <div class="social-media">
        <a href="https://www.instagram.com/escolapassoapasso/" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
    </div>
    <div class="footer-links">
        <div class="support">
            <h1><a href="tel:+559830128648">Suporte</a></h1>
        </div>
        <div class="units">
            <h1><a href="https://www.google.com/maps?ll=-2.509647,-44.251914&z=18&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=11833073444083282130" target="_blank">Unidades</a></h1>
        </div>
        <div class="work-with-us">
            <h1><a href="mailto:escolapassoapasso@outlook.com">Trabalhe conosco</a></h1>
        </div>
    </div>
    <div class="watermark">
        <p>Escola Psiquê 2024 - All rights reserved <br>
            Criado por RavaTech 2024</p>
    </div>
</div>