<div id="suporte" class="footer">
    <div class="social-media">
        <a href="" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
    </div>
    <div class="footer-links">
        <div class="support">
            <h1><a href="" target="_blank">Suporte</a></h1>
        </div>
        <div class="units">
            <h1><a href=""
                    target="_blank">Unidades</a></h1>
        </div>
        <div class="work-with-us">
            <h1><a href="">Trabalhe conosco</a></h1>
        </div>
    </div>
    <div class="watermark">
        <p>Escola Psiquê 2024 - All rights reserved <br>
            Criado por RavaTech 2024</p>
    </div>
</div>
